# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Data Science Languages, i.e Python, R, SQL.
* Libraries for Data Science
* Data Science Tools and development environments
* Jupyter Notebook and RStudio

###### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. SQL
5. C++
6. Julia

###### Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Plotly
6. Dplyr
7. TensorFlow

| Data Science Tools |
| :------------------- |
| Apache Spark |
| Jupyter Notebook |
| Anaconda |
| RStudio |
| VS Code |
| Google Colab |
| Tableau |
| Github |

### Below are a few examples of evaluating arithmatic expressions in Python

In [16]:
##This is a simple arithmatic expression to multiply  then add integers
(3*4)+5

17

In [22]:
##This will convert 200 minutes to hours by dividing by 60
print('200 minutes in Hours = ', 200/60 ,  'hours')

200 minutes in Hours =  3.3333333333333335 hours

## Author
Muhammad Ansary